


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.container{
    width:80%;
    margin: auto;
    background-color: #fff;
    padding: 40px;
}

.container{
    margin: 20px auto;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
.container p{
    width: 65%;
    padding: 20px;
}
.container img{
    width: 35%;
    height: 260px;
}
/*  Float */


.nav{
   width: 100%;
    background-color: black;
    padding: 5px;
    text-align: center;
    color: whitesmoke;
    position: sticky;
    top:0;
    z-index: 1000;
}
.sld1{
    position: absolute;
    background: pink;
    padding: 30px;
    right: 30px;
}
.sld2{
    position: absolute;
     right: 30px;
    top:100px;
}
.contianerimg{
    float: right;
    width: 50%;
    position: relative;
}

.sticky{
    position: sticky;
    top:0;
    padding-top: 10px;
}
.sticky>img{
    width: 200px;
}
.container-1{
    margin: 0;
    width: 100%;
    height: 600px;
    position: relative;
    z-index: -1;
}


@media screen and (max-width:1024px) {
    body{
       background: blue;
       color: #070000;
    }
}

@media screen and (max-width:768px){
    body{
        background: pink;
    }
}
@media screen and (max-width:450px){
    bodyr{
        background: rgb(38, 22, 25);
        color: #fff;
    }
}